@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Narrow&family=Bangers&family=Barlow+Condensed&family=Bebas+Neue&family=Chewy&family=Fjalla+One&family=Julius+Sans+One&family=Luckiest+Guy&family=Macondo&family=Noto+Sans:wght@300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



body {
    font-family: 'Chewy', cursive;
}

.tab {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-around;
    justify-items: center;
}

.contact-icon {
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
}

.contact-link{
  font-size: 3rem;
}

.contact-record {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item-image {
    width: 25rem;
    height: 20rem;
}

.presentation-space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 2rem;
}

.menu-item:nth-child(even){
    transform: rotate(2deg);
    background-color: orange;
}

.menu-item:nth-child(odd){
    transform: rotate(-2deg);
    background-color:cornflowerblue;
}

.item-info {
    padding: 1rem;
}

.item-name{
    font-size: 4rem;
}

.content-menu-page {
    background-color: chartreuse;   
}


.main-page-btn {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-page-btn:focus {
  outline: 0;
}

.main-page-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.main-page-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .main-page-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/* CSS */
.menu-page-btn {
  background-color:lightblue;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.menu-page-btn:hover,
.menu-page-btn:active {
  outline: 0;
}

.menu-page-btn:hover {
  background-color: transparent;
  cursor: pointer;
}

.menu-page-btn:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.menu-page-btn:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .menu-page-btn {
    padding: 16px 32px;
  }
}


.contact-page-btn {
  align-items: center;
  background-color:yellowgreen;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact-page-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.contact-page-btn:hover:after {
  transform: translate(0, 0);
}

.contact-page-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.contact-page-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .contact-page-btn {
    padding: 0 40px;
  }
}

.tab {
  padding: 2rem;
  transform: rotate(1.5deg);
}

.menu-header {

}

body{
  
}

.menu-page-container {
  background-color: chartreuse;
}

h3 {
  font-size: 5rem;
  color:black;
}

h4{
  font-size: 3rem;
  color: darkred;
}

.page-load-image{
  height: 20rem;
}

.loading {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}